@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --font-logo-style: "Yatra One", system-ui;
    --font-primary: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* border: 4px solid darkcyan; */
}

.hero{
    padding: 0 24px;
    height: 95vh;
    background: url('/assets/hero-bg.jpg') center center/cover no-repeat;
    background-size: 60% 100%;
    position: relative;
    background-position: top right;
    /* border:  2px solid darkred; */
}

.header{
    /* border: 2px solid darkgreen; */
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.banner{
    width: 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid tan; */
}

.logo{
    /* border: 3px solid fuchsia; */
    width: 34px;
    border-radius: 50px;
}

.comp_name{
    /* border: 3px solid rebeccapurple; */
    font-size: 1.4rem;
    font-family: var(--font-logo-style);
    font-weight: 700;
}

.nav{
    border: 1px solid black; 
    position: fixed;
    top: 0px;
    right: 100%;
    transform: translateX(0);
    transition: transform 0.9s ease-in-out;
    height: 100vh;
    width: 100%;
    background-color: #3554d1;
    opacity: 0.85;
}

.navbar{
    /* border: 1px solid red; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
    color: #fff;
}

.nav.active{
    transform: translateX(100%); 
    /* max-height: 500px;
    opacity: 1; */
}

.navbar li{
    list-style: none;
    /* border: 1px solid palevioletred; */
    padding: 12px 23px;
    margin: 0 12px;
    font-size: 1.35rem;
    font-style: var(--font-logo-style);
    font-family: "Poppins", sans-serif;
}

.register{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid rebeccapurple; */
    width: 17vw;
    color: #fff;
}

.log-sign button{
    color: #fff;
    padding: 6px;
    margin-right: 12px;
    border: none;
    background: none;
    font-size: 17px;
    font-family: var(--font-primary);
}

.hamburger{
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.hamburger img{
    font-size: 54px;
    transition: opacity 0.4s ease-in, transform 0.4s ease-out;
}

.hamburger .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0);
    opacity: 0;
}

.hamburger.active .icon-menu{
    opacity: 0;
    transform: scale(0);
}

.hamburger.active .icon-close{
    opacity: 1;
    transform: scale(1);
}

.detail-box{
    /* border: 1px solid darkkhaki; */
    width: 25vw;
    margin: 60px 34px;
    padding: 9px 12px;
}

.tagline{
}

.tagline h3{    
    font-size: 4rem;
    letter-spacing: 0.6px;
    font-family: var(--font-primary);
    margin-bottom: .5rem;
    line-height: 1.2;
}

.tagline h3:first-child{
    color: #0f2480;
}

.tagline h3:nth-child(2){
    color: #3554d1;
}

.tagline h3:nth-child(3){
    color: #3554d1;
}

.para{
    /* border: 1px solid orange; */
    font-size: 17px;
    font-family: var(--font-primary);
    font-weight: 400;
    margin: 30px 0;
}

.read-more-btn{
    margin: 30px 0;
}

.read-more-btn button{
    padding: 8px 35px;
    background: none;
    border: 1px solid #3554d1;
    border-radius: 25px;
    color: #3554d1;
    font-weight: 700;
    font-family: var(--font-primary);
    font-size: 1.1  5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.read-more-btn button:hover{
    color: #fff;
    background-color: #3554d1;
}

.find-section{
    /* border: 3px solid cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */
}

.form-row{
    width: 70vw;
    background-color: #fff;
    box-shadow: 0 0 20px 11px rgba(0, 0, 0, .09);
    /* border: 3px solid goldenrod; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.input-style{
    padding: 10px;
    height: 45px;
    margin: 9px;
    width: 25vw;
    font-size: 1.05rem;
    border: 0.5px solid gray;
}

.search-btn input{
    width: 15vw;
    height: 45px;
    padding: 10px;
    margin: 9px;
    background-color: #f97616;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    font-family: var(--font-primary);
}